<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feidian.mapper.CommodityMapper">
    <insert id="insertCommodity" parameterType="com.feidian.po.CommodityPO">
        insert into commodity
            (id, user_id, commodity_name, commodity_type, price, commodity_address, commodity_description,cover_url)
            values  (#{id}, #{userId}, #{commodityName}, #{commodityType} ,#{price}, #{commodityAddress},
                #{commodityDescription}, #{coverUrl});
    </insert>

    <insert id="insertInCommodity">
        insert into commodity
        values (id,cover_url),
               (#{id}, #{coverUrl});
    </insert>


    <update id="updateCommodityDescription">
        update commodity
        set commodity_description = #{description}
        where id = #{id}
    </update>

    <update id="deleteCommodity">
        update commodity
        set is_deleted = ${1}
        where id = #{id}
    </update>

    <update id="updateCommodity">
        update commodity
            <set>
                <if test="username!=null and username!=''">
                    username=#{username},
                </if>
                <if test="sex!=null and sex!=''">
                    sex=#{sex},
                </if>
                <if test="phone!=null and phone!=''">
                    phone=#{phone},
                </if>
            </set>
            where id=#{id}
        </update>

    <select id="findByUserId" resultType="com.feidian.po.CommodityPO">
        select *
        from commodity
        where user_id = #{id}
    </select>

    <select id="findByCommodityId" resultType="com.feidian.po.CommodityPO">
        select id,user_id,commodity_name, commodity_type, price, commodity_description, commodity_address,
               cover_url, commodity_status, create_time, update_time, is_deleted
        from commodity
        where id = #{commodityId}
    </select>
</mapper>